/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f1f7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #e9d8f2;
    border-radius: 15px;
    padding: 60px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

.logo h1 {
    font-size: 4em;
    color: #6b3b9a;
    margin: 0;
    animation: bounce 1s infinite alternate;
}

.coming-soon {
    font-size: 2em;
    color: #4b285e;
    margin: 20px 0;
    font-weight: bold;
}

.social-icons {
    margin: 30px 0;
}

.social-icons a {
    text-decoration: none;
    color: #6b3b9a;
    font-size: 2em;
    margin: 0 15px;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #b38cd9;
}

footer {
    margin-top: 30px;
    font-size: 1.2em;
}

footer p {
    color: #522e70;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
